body {
		
		background-color:#7EA1C4;
		
		
}

ul.a {
	list-style-type: circle;
	color:Orange;
	font-size:50px;
	
}

h1 {
	color:#1B365C;
	text-align:center;
	
}

.icon-bar {
	position:fixed;
	
	
}

a {
	color:#1B365C;
	
}