
body {
	background-color:#007A78;
	color:#FFC745;
	font-size:20px;
	
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header {
	color:#FFC745;
	text-align:center;
	
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#Discord{
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#Facebook {
  top: 140px;
  background-color: #f44336; /* Red */
}

#Instagram {
  top: 200px;
  background-color: #555 /* Light Black */
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#home {
	border-radius:50px;
	position:relative;
	top:-500px;
	left:1000px;
	box-shadow: 10px, 10px Gray;
	padding:15px;
	color:#007A78;
	background-color:orange;
}
	